body{
    background-color: #a8c997;
    color: #262525;
}

#game_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

canvas {
    border: 4px solid #262525;
    border-radius: 2px;
}
